.mainCard {
    .body {
        width: 350px;
        position: relative;
        padding: 10px;
    }

    img {
        width: 100px !important;
    }

    .button {
        position: absolute;
        bottom: 15px;
    }

    .description {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 50px;
        white-space: pre-line;
    }

    .card {
        width: 350px;
        align-items: center;
        height: 500px;
        border: 1px solid #ffc61a7a;
    }
    .cardImage{
        height: 100px;   
    }
}
