$font-stack: Helvetica, sans-serif;
$primary-color: #574d4d;

.App {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-family: $font-stack;
    color: $primary-color;
    padding: 30px;
  }
}

.slick-slider {
  height: 350px;
  background-color: #574d4d;
  
}
.imageCarousel{
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  padding-top: 100px;
}