h1 {
  font-size: 2.5rem;
  font-family: inherit;
  color: #574d4d;
  padding: 30px;
}
body{
  border-color: #ffc107;
    border-width: 0.5em;
    border-style: dashed;
}

.App {
  text-align: center;
  padding-top: 130px;
}

.slick-slider {
  height: 350px;
  background-color: #574d4d;
  
}
.imageCarousel{
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
