h1 {
  font-size: 2.5rem;
  font-family: inherit;
  color: #574d4d;
  padding: 30px;
}

.App {
  text-align: center;
}

.slick-slider {
  height: 350px;
  background-color: #574d4d;
  
}
.imageCarousel{
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  padding-top: 100px;
}